@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 800;  
}

html,
body {
  width: 100%;
  min-height: 100%;   

}

.homepage-container {
  background-image: url(/bg-home2.jpg);
  width: 100%;
  height: 100%;
  background-position: contain;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -100px;
  font-family: "Oswald", sans-serif;
}

.menu-style:hover {
  background-color: #ece1cdff;
  border: 10px;
  border-radius: 20px;
  padding-inline: 10px;
  color: #49403bff;
  cursor: pointer;
}

.teste1 {
  backdrop-filter: blur(30px);
}

.container-map {
  background-image: url(/mapa-teste.jpg);
  border: transparent;
  margin-right: 100px;
}
.bg-prof {
  background-image: url(/barber-shaving-customer-s-beard-with-razor.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;    
  border: transparent;
}

.professional {
  background-color: rgb(250, 250, 250);
  backdrop-filter: blur(30px);  
}

